* {
  margin: 0;
  font-family: avenir next;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #191919;
    overflow: hidden;
    height: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.red {
    color: red;
}

.green {
    color: green;
}

#wrapper {
  width: 100%;
  background-color: #fff;
}

#side-nav {
    position: fixed;
    width: 250px;
    height:calc(100vh - 50px);
    left: 0;
    right: 0;
    overflow-y: scroll;
    top: 50px;
}

#side-nav #trending_cell {
    background-color: blue;
    color: white;
}

#side-nav #trending_title {
    margin-left: 1.3em;
}

#side-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#side-nav li {
    background-color: white;
    vertical-align: middle;
    line-height: 50px;
    width: 100%;
    height: 50px;
}

#side-nav .normal_cell:nth-child(even) {
  background: #DCDCDC;
  font-weight: bold;
}

#side-nav .normal_cell:nth-child(odd) {
  background: #F8F8F8;
  font-weight: bold;
}

#side-nav .normal_cell:hover {
    background-color: #C2E3F1;
}

#side-nav #trending_cell {
    background-color: #0080ff;
    color: white;
}

#side-nav #slump_cell {
    background-color: #ff4c4c;
    color: white;
}

#side-nav #pinned_cell {
    background-color: #104E8B;
    color: white;
}

#side-nav #title_align {
  margin-left: 1.3em;
  float: left;
}

#side-nav #arrow_logo {
  margin-right: 1.1em;
  float: right;
}

#side-nav #arrow_logo img {
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}

#side-nav #thumbtack_logo {
    margin-right: 0.02em;
    float: right;
}

#side-nav #thumbtack_logo img{
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}

#side-nav #content_align {
  float: left;
  margin-left: 1.3em;
}

#side-nav .rating {
  float: right;
  margin-right: 1.3em;
}

.red {
  color: red;
}

.green {
  color: green;
}

#detail-wrapper {
    margin-top: 50px;
    margin-left: 250px;
    padding: 0 30px;

    overflow-y: scroll;
    position: fixed;
    left: 0;
    top: 0;
    height:calc(100vh - 50px);
    width: calc(100vw - 310px);
    min-width: 600px;
    background-color: white;

}

#detail-wrapper h1 {

}

#stocktitle-wrapper {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

#graph-wrapper {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

#article-wrapper {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 600px;
}

#article-wrapper ul {
    margin-top: 10px;
    margin-left: 0;
    padding: 0;
    list-style-type: none;
}

#article-wrapper li {
    padding: 10px 0 10px 10px;
}
